body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 95%);
}
h1{
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    
}
.videos{
    height: 300px;
    width: 500px;
}